<div class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="logo-icon s-32 mr-16"> filter </mat-icon>
                        <span class="logo-text h1"> commons-text </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-card">
            <div class="content">

                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                        
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> name</mat-label>
                <input matInput placeholder="name" formControlName="name">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> full-name</mat-label>
                <input matInput placeholder="fullName" formControlName="fullName">
            </mat-form-field>
        </div>

      <mat-form-field [style.width.px]=500 *ngIf="categories">
          <mat-label>category</mat-label>
          <mat-select formControlName="category" multiple>
              <mat-option *ngFor="let item of categories" [value]="item._id">{{ item.title?.ge }}</mat-option>
          </mat-select>
      </mat-form-field>
   
    <div formGroupName='about'>
       
    <div formGroupName='contact'>
    
        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='title'>
            
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> title en </mat-label>
                <input matInput placeholder="title en" formControlName="en">
            </mat-form-field>
                
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> title ge </mat-label>
                <input matInput placeholder="title ge" formControlName="ge">
            </mat-form-field>
                
        </div>
    
        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='address'>
            
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> address en </mat-label>
                <input matInput placeholder="address en" formControlName="en">
            </mat-form-field>
                
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> address ge </mat-label>
                <input matInput placeholder="address ge" formControlName="ge">
            </mat-form-field>
                
        </div>
    
    </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> phone</mat-label>
                <input matInput placeholder="phone" formControlName="phone">
            </mat-form-field>
        </div>

        <h2>social-accounts</h2>
        <div formArrayName="socialAccounts">
            <mat-card *ngFor="let item of socials.controls; let i = index;" style="margin-bottom: 20px;">
                <h2>Account {{i + 1}}</h2>
                <div [formGroupName]="i" style="margin: 20px">
                    <div fxLayout="column" fxLayoutAlign="">

                        <mat-form-field  [style.width.px]=300 >
                            <mat-label>Account</mat-label>
                            <mat-select  formControlName="account">
                                <mat-option *ngFor="let account of accounts" [value]="account">{{ account }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="40">
                            <mat-label> link </mat-label>
                            <input matInput placeholder="link" name="link" formControlName="link">
                        </mat-form-field>
                    </div>
                    <button type="button" mat-raised-button color="warn" (click)="deleteSocials(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
            <button type="button" mat-raised-button color="accent" (click)="addSocials('socials')"
                    style="margin-bottom: 30px;">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </div>
                
                        <div>
                            <button mat-raised-button color="primary"> Submit </button>
                        </div>
                    </div>
                </form>


                <!-- <mat-tab-group fxLayout="column" fxFlex *ngIf="metas">

                    <mat-tab label="Homepage">
                        <app-meta-form [meta]="metas.home" pageTitle="home" (submitMeta)="update($event, 'home')">
                        </app-meta-form>
                    </mat-tab>

                </mat-tab-group> -->
            </div>
        </div>
    </div>
</div>