<div class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="logo-icon s-32 mr-16"> filter </mat-icon>
                        <span class="logo-text h1"> common </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-card">
            <div class="content">

                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                        
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> name</mat-label>
                <input matInput placeholder="name" formControlName="name">
            </mat-form-field>
        </div>
   
    <div formGroupName='about'>
       
    <div formGroupName='contact'>
       
    <div formGroupName='street'>
    
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> title</mat-label>
                <input matInput placeholder="title" formControlName="title">
            </mat-form-field>
        </div>
   
    <div formGroupName='peoples'>
       
    <div formGroupName='human'>
    
        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='age'>
            
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> age en </mat-label>
                <input matInput placeholder="age en" formControlName="en">
            </mat-form-field>
                
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> age ge </mat-label>
                <input matInput placeholder="age ge" formControlName="ge">
            </mat-form-field>
                
        </div>
    
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> age-4</mat-label>
                <input matInput placeholder="age4" formControlName="age4">
            </mat-form-field>
        </div>

    </div>
        <div class="custom-slied-toggle">
            <mat-slide-toggle formControlName="isFeatured">is-featured</mat-slide-toggle>
        </div>

    </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> desc</mat-label>
                <input matInput placeholder="desc" formControlName="desc">
            </mat-form-field>
        </div>

    </div>
        <h3>image</h3>
        <div class="inputs_container">
            <app-image-upload [image]="formData.about.contact.image" (uploadComplete)="onUploadCompleteImage($event)"></app-image-upload>
        </div>
      
    </div>   
    <div formGroupName='behemoth'>
    
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> ambum</mat-label>
                <input matInput placeholder="ambum" formControlName="ambum">
            </mat-form-field>
        </div>
   
    <div formGroupName='songs'>
    
        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='oneSong'>
            
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> one-song en </mat-label>
                <input matInput placeholder="one-song en" formControlName="en">
            </mat-form-field>
                
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> one-song ge </mat-label>
                <input matInput placeholder="one-song ge" formControlName="ge">
            </mat-form-field>
                
        </div>
    
        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='oneSong2'>
            
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> one-song-2 en </mat-label>
                <input matInput placeholder="one-song-2 en" formControlName="en">
            </mat-form-field>
                
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> one-song-2 ge </mat-label>
                <input matInput placeholder="one-song-2 ge" formControlName="ge">
            </mat-form-field>
                
        </div>
    
    </div>   
    <div formGroupName='blackmetal'>
    
        <h3>images</h3>
        <div class="inputs_container">
            <app-images-upload *ngIf="images" [images]="images" (removeImage)="deleteImageImages($event)" (uploadComplete)="onUploadCompleteImages($event)"></app-images-upload>
        </div>
  
    </div>
    </div>
        <h2>social-accounts</h2>
        <div formArrayName="socialAccounts">
            <mat-card *ngFor="let item of socials.controls; let i = index;" style="margin-bottom: 20px;">
                <h2>Account {{i + 1}}</h2>
                <div [formGroupName]="i" style="margin: 20px">
                    <div fxLayout="column" fxLayoutAlign="">

                        <mat-form-field  [style.width.px]=300 >
                            <mat-label>Account</mat-label>
                            <mat-select  formControlName="account">
                                <mat-option *ngFor="let account of accounts" [value]="account">{{ account }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="40">
                            <mat-label> link </mat-label>
                            <input matInput placeholder="link" name="link" formControlName="link">
                        </mat-form-field>
                    </div>
                    <button type="button" mat-raised-button color="warn" (click)="deleteSocials(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
            <button type="button" mat-raised-button color="accent" (click)="addSocials('socials')"
                    style="margin-bottom: 30px;">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </div>
                
                        <div>
                            <button mat-raised-button color="primary"> Submit </button>
                        </div>
                    </div>
                </form>


                <!-- <mat-tab-group fxLayout="column" fxFlex *ngIf="metas">

                    <mat-tab label="Homepage">
                        <app-meta-form [meta]="metas.home" pageTitle="home" (submitMeta)="update($event, 'home')">
                        </app-meta-form>
                    </mat-tab>

                </mat-tab-group> -->
            </div>
        </div>
    </div>
</div>